# Ignore build and node_modules
build/* linguist-vendored
node_modules/* linguist-vendored
examples/* linguist-vendored

# Treat .tsx as TypeScript
*.tsx linguist-language=TypeScript

# Ignore docs from language count
docs/* linguist-documentation
